.footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(240, 240, 240, 0.4);
  height: 10em;
  padding: 1em;
}

.image {
  padding: 0;
  margin: 0;
  height: 20px;
  width: 20px;
}

.space {
  margin: 0%;
  padding: 0% 20px 0% 20px;
}

.display-responsive {
  display: grid;
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
}
