.all {
  color: rgb(255, 115, 0);
  background-color: #83dab9;
  min-height: 100vh;
  /* padding-top: 10px; */
  /* margin: 0; */
}

.display {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.logout {
  display: inline-flex;

  margin-right: 20px;
  /* align-items: right; */
  float: right;
  justify-content: flex-end;
}

.lang {
  display: inline-flex;
  margin-left: 20px;
  /* align-items: right; */
  justify-content: flex-start;
}
