.error {
  color: #a71930;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
/*
.unauth {
  color: aqua;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
} */

.link {
  color: #efdf00;
  text-decoration: none;
}

.link:hover {
  color: #cdeb8e;
}
