.image {
  margin: 20px;
  /* padding: 0; */
  height: 200px;
  width: 250px;
  border-radius: 4px;
  /* border: 1px solid #bbb; */
  text-align: center;
  cursor: pointer;
  transition: all 0.3s linear;
}

.container {
  max-width: 960px;
  margin: 20px auto 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
}

.zone {
  cursor: pointer;
  /* display: inline-block; */
  /* text-align: center; */
  /* font-size: 10em; */
  /* border-radius: 4px; */
  /* border: 1px solid #bbb; */
  transition: all 0.3s linear;
}

.zone:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}

.section {
  margin: 20px auto 30px;
  display: grid;
  /* grid-column-start: 1; */
  /* grid-column-end: 4; */
  grid-column: 1/4;
  /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
  justify-content: center;
  /* grid-column: 1/-1; */
  /* grid-column: span 2; */
  /* grid-column: span 2; */
  /* grid-row: 1/3; */
  /* justify-self: start; */
  /* justify-self: end; */
  /* align-self: start; */
}
